[Unit]
Description = Mopidy Display Application
After = multi-user.target

[Service]
WorkingDirectory=/home/pi/mopidy-i2c
User=pi
Type=idle
ExecStart=/usr/bin/python3 /home/pi/mopidy-i2c/main.py &> /dev/null

[Install]
WantedBy=multi-user.target
